# App dependencies and build output
badminton-v2/node_modules
badminton-v2/dist
badminton-v2/dist-ssr
badminton-v2/.env.local

# Logs
*.log
npm-debug.log*

# Temp files
/temp/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
